.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    }

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content > :first-child,
.main-content > :last-child {
  flex-grow: 0;
}

.journal-top{
    height: 70vh;
}

.sidebar {
    flex: 1;
    border-left: 1px solid #ccc;
    padding: 20px 50px;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .sidebar {
        height: 10vh;
        padding: 10px 20px;
        border-top: 1px solid #888;
        font-size: 0.8em;
        overflow-y: unset;
    }
    }

.journal-container {
    height: 100vh; /* Adjust height as needed */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 70%;
    padding: 15px 50px 20px 50px;
    box-sizing: border-box;
    flex: 3;
    scrollbar-width: none; /* For Firefox */
  }

@media (max-width: 600px) {
.journal-container {
    width: 100%;
    height:10vh;
    padding: 10px 20px;
}
}

.journal-container::-webkit-scrollbar {
display: none;
}

.journal-page {
height: 100vh; /* Adjust height as needed */
scroll-snap-align: start;
padding-top:30px;
}


@media (max-width: 600px) {
    .journal-page {
        padding-top:20px;
    }
    }

th {
    text-align: left;
    padding-right: 5px;
}

td {
    text-align: left;
    padding-right: 20px;
}


.food-dropdown {
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
    background: #fff;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}

.food-dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.food-dropdown-item:hover {
    background-color: #f0f0f0;
}

.foodInput {
    padding-bottom: 20px;
}


.foodInput input {
    height: 30px;
    margin-right: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .foodInput input {
        width: 100%;
        margin:10px 0px;
        font-size: 16px;
    }
    }

.foodInput button {
    height: 36px;
}

.dailyDietTable {
    min-height: 200px;
    display: block;
    /* Allows us to set height on a table, but it'll affect how tbody and thead behave */
    overflow-y: auto;
    /* Allows for scrolling if the content of the table exceeds the min-height */
}

@media (max-width: 600px) {
    .dailyDietTable {
        font-size: 0.8em;
    }
    }

.chartsContainer {
    display: flex;
    justify-content: space-between;
    /* Creates space between the charts */
    max-width: calc(40% - 30px);
}

.chartColumn {
    flex: 1;
    /* Each chart will take equal width */
    padding: 0 15px;
    max-width: calc(50% - 30px);
    /* Account for padding; 50% for half the container width */
    overflow: hidden;
    height: 200px;
    width: 300px;
}

/* Responsive adjustments for screens less than 600px */
@media screen and (max-width: 600px) {
    .chartsContainer {
        flex-direction: row;
        justify-content: normal;
        width: 50%;
        max-width: none;
    }
    .chartColumn {
        padding: 0 15px;
        max-width: 100%;
        /* Each chart takes full width, accounting for padding */
    }
}

.showForm {
    padding-top: 10px;
}

@media screen and (max-width: 600px) {
    .showForm button {
        width:100%;
        margin-bottom:10px;
    }
}

.icon-button {
    width: 40px;
    /* Or whatever size you want */
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: solid rgb(170, 170, 170);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px gray;
}

.icon-button img {
    width: 100%;
    /* Makes the image take the full width of the button */
    height: 100%;
    /* Makes the image take the full height of the button */
    object-fit: contain;
    /* Adjusts the image's size and position to fill its box, often used with responsive designs */
}

.iconbar {
    margin: 10px 0px;
}

.right-align {
    text-align: right;
}


.sidebar-foodlist {
    height: 75vh;
}

/* Set tbody to be scrollable and provide a maximum height */
.sidebar-foodlist tbody {
    display: block;
    max-height: 65vh;
    /* Adjust this value based on your needs */
    overflow-y: auto;
}

/* Make other table parts block display so they line up correctly */
.sidebar-foodlist thead,
.sidebar-foodlist tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* This will be required to make the table take full width */
.sidebar-foodlist table {
    width: 100%;
}

.credits {
    text-align: right;
}

.qa-card {
    border-bottom: solid lightgray;
    list-style-type: none
}

.qa-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 15px 50px 20px 50px;
    box-sizing: border-box;
}

.foodRow .trashIcon {
    visibility: hidden;
}

.foodRow:hover .trashIcon {
    visibility: visible;
}


table {
    /* This removes flickering of trashcan button across column of same row*/
    border-collapse: collapse;
}


.askAIButton {
    margin-left: 10px;
}

.foodDescriptionForAI {
    padding-top: 10px;
}

.foodDescriptionForAI input {
    height: 50px;
    width: 300px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.ai-response {
    padding-top: 10px;
}

.modal-cancel-button {
    display: none; /* Hide by default */
}

@media (max-width: 600px) {
    .modal {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
    
    @keyframes animatetop {
        from {top: -300px; opacity: 0} 
        to {top: 0; opacity: 1}
    }

    .modal-cancel-button {
        display: block; /* Show the button on small screens */
    }
}

